In [1]:
# Import necessary packages

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import pandas_profiling
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.linear_model import LinearRegression

In [2]:
# Print multiple statements in same line
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [3]:
# Import Data 
import pandas as pd
url = 'https://raw.githubusercontent.com/upxacademy/ML_with_Python/master/Datasets/bikeshare.csv?token=AYxzdiGnjM610dBT7PuwUnUNOmm3bGcvks5ZFDyLwA%3D%3D'
bikes = pd.read_csv(url, index_col='datetime', parse_dates=True)

In [4]:
# Explore Data
bikes.head()
# bikes.info()
bikes = bikes.drop(['registered'], axis = 1)

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
datetime,,,,,,,,,,,
2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [5]:
bikes.head()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,count
datetime,,,,,,,,,,
2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,16
2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,40
2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,32
2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,13
2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1

# STEP 1- CREATE FEATURES AND LABEL

In [6]:
x = bikes.drop(['count'], axis = 1, inplace=False)  
y = bikes['count']                                  
x.shape
y.shape

(10886, 9)

(10886,)

# STEP 2- SPLIT TRAIN AND TEST DATA

In [7]:
# Split in Train and Test data
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=999)
x_train.shape
y_train.shape
x_test.shape
y_test.shape

(8708, 9)

(8708,)

(2178, 9)

(2178,)

# STEP 3- CREATE INSTANT OF THE MODEL

In [8]:
from sklearn.linear_model import LinearRegression
lm = LinearRegression()

# STEP 4- FIT MODEL

In [9]:
lm.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

# STEP 5- PREDICT USING THE TRAINED MODEL

In [10]:
predicted = lm.predict(x_test)
predicted.shape

(2178,)

# STEP 6- EVALUATE MODEL PERFORMANCE

In [11]:
metrics.mean_squared_error(y_test, predicted)
metrics.mean_absolute_error(y_test,predicted)

13830.827222373984

83.67187134898715

In [12]:
metrics.median_absolute_error(y_test, predicted)

64.1803207497669

In [13]:
bikes.describe()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,count
count,10886.000000,10886.000000,10886.000000,10886.000000,10886.00000,10886.000000,10886.000000,10886.000000,10886.000000,10886.000000
mean,2.506614,0.028569,0.680875,1.418427,20.23086,23.655084,61.886460,12.799395,36.021955,191.574132
std,1.116174,0.166599,0.466159,0.633839,7.79159,8.474601,19.245033,8.164537,49.960477,181.144454
min,1.000000,0.000000,0.000000,1.000000,0.82000,0.760000,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,0.000000,1.000000,13.94000,16.665000,47.000000,7.001500,4.000000,42.000000
50%,3.000000,0.000000,1.000000,1.000000,20.50000,24.240000,62.000000,12.998000,17.000000,145.000000
75%,4.000000,0.000000,1.000000,2.000000,26.24000,31.060000,77.000000,16.997900,49.000000,284.000000
max,4.000000,1.000000,1.000000,4.000000,41.00000,45.455000,100.000000,56.996900,367.000000,977.000000

In [14]:
lm.coef_

array([18.68464251, 23.37597554, 96.43230629, -2.83635435, -2.13054623,
        2.30476554, -0.71264783,  0.63858833,  2.58097005])

In [15]:
x.columns

Index(['season', 'holiday', 'workingday', 'weather', 'temp', 'atemp',
       'humidity', 'windspeed', 'casual'],
      dtype='object')

In [16]:
lm.intercept_

14.88856311098715

In [21]:
x_train.columns

Index(['season', 'holiday', 'workingday', 'weather', 'temp', 'atemp',
       'humidity', 'windspeed', 'casual'],
      dtype='object')

In [28]:
bikes.sample

<bound method NDFrame.sample of                      season  holiday  workingday  weather   temp   atemp  \
datetime
2011-01-01 00:00:00       1        0           0        1   9.84  14.395
2011-01-01 01:00:00       1        0           0        1   9.02  13.635
2011-01-01 02:00:00       1        0           0        1   9.02  13.635
2011-01-01 03:00:00       1        0           0        1   9.84  14.395
2011-01-01 04:00:00       1        0           0        1   9.84  14.395
2011-01-01 05:00:00       1        0           0        2   9.84  12.880
2011-01-01 06:00:00       1        0           0        1   9.02  13.635
2011-01-01 07:00:00       1        0           0        1   8.20  12.880
2011-01-01 08:00:00       1        0           0        1   9.84  14.395
2011-01-01 09:00:00       1        0           0        1  13.12  17.425
2011-01-01 10:00:00       1        0           0        1  15.58  19.695
2011-01-01 11:00:00       1        0           0        1  14.76  16.665
2011-01-01 12:00:00       1        0           0        1  17.22  21.210
2011-01-01 13:00:00       1        0           0        2  18.86  22.725
2011-01-01 14:00:00       1        0           0        2  18.86  22.725
2011-01-01 15:00:00       1        0           0        2  18.04  21.970
2011-01-01 16:00:00       1        0           0        2  17.22  21.210
2011-01-01 17:00:00       1        0           0        2  18.04  21.970
2011-01-01 18:00:00       1        0           0        3  17.22  21.210
2011-01-01 19:00:00       1        0           0        3  17.22  21.210
2011-01-01 20:00:00       1        0           0        2  16.40  20.455
2011-01-01 21:00:00       1        0           0        2  16.40  20.455
2011-01-01 22:00:00       1        0           0        2  16.40  20.455
2011-01-01 23:00:00       1        0           0        2  18.86  22.725
2011-01-02 00:00:00       1        0           0        2  18.86  22.725
2011-01-02 01:00:00       1        0           0        2  18.04  21.970
2011-01-02 02:00:00       1        0           0        2  17.22  21.210
2011-01-02 03:00:00       1        0           0        2  18.86  22.725
2011-01-02 04:00:00       1        0           0        2  18.86  22.725
2011-01-02 06:00:00       1        0           0        3  17.22  21.210
...                     ...      ...         ...      ...    ...     ...
2012-12-18 18:00:00       4        0           1        1  15.58  19.695
2012-12-18 19:00:00       4        0           1        1  15.58  19.695
2012-12-18 20:00:00       4        0           1        1  14.76  16.665
2012-12-18 21:00:00       4        0           1        1  14.76  17.425
2012-12-18 22:00:00       4        0           1        1  13.94  16.665
2012-12-18 23:00:00       4        0           1        1  13.94  17.425
2012-12-19 00:00:00       4        0           1        1  12.30  15.910
2012-12-19 01:00:00       4        0           1        1  12.30  15.910
2012-12-19 02:00:00       4        0           1        1  11.48  15.150
2012-12-19 03:00:00       4        0           1        1  10.66  13.635
2012-12-19 04:00:00       4        0           1        1   9.84  12.120
2012-12-19 05:00:00       4        0           1        1  10.66  14.395
2012-12-19 06:00:00       4        0           1        1   9.84  12.880
2012-12-19 07:00:00       4        0           1        1  10.66  13.635
2012-12-19 08:00:00       4        0           1        1   9.84  12.880
2012-12-19 09:00:00       4        0           1        1  11.48  14.395
2012-12-19 10:00:00       4        0           1        1  13.12  16.665
2012-12-19 11:00:00       4        0           1        1  16.40  20.455
2012-12-19 12:00:00       4        0           1        1  16.40  20.455
2012-12-19 13:00:00       4        0           1        1  17.22  21.210
2012-12-19 14:00:00       4        0           1        1  17.22  21.210
2012-12-19 15:00:00       4        0           1        1  17.22  21.210
2012-12-19 16:00:00       4        0           1        1  17.22  21.210
2012-12-19 17:00:00       4        0           1        1  16.40  20.455
2012-12-19 18:00:00       4        0           1        1  15.58  19.695
2012-12-19 19:00:00       4        0           1        1  15.58  19.695
2012-12-19 20:00:00       4        0           1        1  14.76  17.425
2012-12-19 21:00:00       4        0           1        1  13.94  15.910
2012-12-19 22:00:00       4        0           1        1  13.94  17.425
2012-12-19 23:00:00       4        0           1        1  13.12  16.665

                     humidity  windspeed  casual  count
datetime
2011-01-01 00:00:00        81     0.0000       3     16
2011-01-01 01:00:00        80     0.0000       8     40
2011-01-01 02:00:00        80     0.0000       5     32
2011-01-01 03:00:00        75     0.0000       3     13
2011-01-01 04:00:00        75     0.0000       0      1
2011-01-01 05:00:00        75     6.0032       0      1
2011-01-01 06:00:00        80     0.0000       2      2
2011-01-01 07:00:00        86     0.0000       1      3
2011-01-01 08:00:00        75     0.0000       1      8
2011-01-01 09:00:00        76     0.0000       8     14
2011-01-01 10:00:00        76    16.9979      12     36
2011-01-01 11:00:00        81    19.0012      26     56
2011-01-01 12:00:00        77    19.0012      29     84
2011-01-01 13:00:00        72    19.9995      47     94
2011-01-01 14:00:00        72    19.0012      35    106
2011-01-01 15:00:00        77    19.9995      40    110
2011-01-01 16:00:00        82    19.9995      41     93
2011-01-01 17:00:00        82    19.0012      15     67
2011-01-01 18:00:00        88    16.9979       9     35
2011-01-01 19:00:00        88    16.9979       6     37
2011-01-01 20:00:00        87    16.9979      11     36
2011-01-01 21:00:00        87    12.9980       3     34
2011-01-01 22:00:00        94    15.0013      11     28
2011-01-01 23:00:00        88    19.9995      15     39
2011-01-02 00:00:00        88    19.9995       4     17
2011-01-02 01:00:00        94    16.9979       1     17
2011-01-02 02:00:00       100    19.0012       1      9
2011-01-02 03:00:00        94    12.9980       2      6
2011-01-02 04:00:00        94    12.9980       2      3
2011-01-02 06:00:00        77    19.9995       0      2
...                       ...        ...     ...    ...
2012-12-18 18:00:00        46    22.0028      13    525
2012-12-18 19:00:00        46    26.0027      19    353
2012-12-18 20:00:00        50    16.9979       4    268
2012-12-18 21:00:00        50    15.0013       9    168
2012-12-18 22:00:00        49     0.0000       5    132
2012-12-18 23:00:00        49     6.0032       1     81
2012-12-19 00:00:00        61     0.0000       6     41
2012-12-19 01:00:00        65     6.0032       1     15
2012-12-19 02:00:00        65     6.0032       1      3
2012-12-19 03:00:00        75     8.9981       0      5
2012-12-19 04:00:00        75     8.9981       1      7
2012-12-19 05:00:00        75     6.0032       2     31
2012-12-19 06:00:00        75     6.0032       3    112
2012-12-19 07:00:00        75     8.9981       3    363
2012-12-19 08:00:00        87     7.0015      13    678
2012-12-19 09:00:00        75     7.0015       8    317
2012-12-19 10:00:00        70     7.0015      17    164
2012-12-19 11:00:00        54    15.0013      31    200
2012-12-19 12:00:00        54    19.0012      33    236
2012-12-19 13:00:00        50    12.9980      30    213
2012-12-19 14:00:00        50    12.9980      33    218
2012-12-19 15:00:00        50    19.0012      28    237
2012-12-19 16:00:00        50    23.9994      37    334
2012-12-19 17:00:00        50    26.0027      26    562
2012-12-19 18:00:00        50    23.9994      23    569
2012-12-19 19:00:00        50    26.0027       7    336
2012-12-19 20:00:00        57    15.0013      10    241
2012-12-19 21:00:00        61    15.0013       4    168
2012-12-19 22:00:00        61     6.0032      12    129
2012-12-19 23:00:00        66     8.9981       4     88

[10886 rows x 10 columns]>